.title {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #294E95;
  padding-left: 3rem;
}
.subtitle {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #294E95;
  padding-left: 3rem;
}
.link {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #294E95;
  padding-left: 3rem;
  text-decoration: underline;
  padding-bottom: 1rem;
}
.card-appointment {
  border: 1px white !important;
  border-radius: 30px !important;
  width: 15rem !important;
  margin-top: 20px !important;
}

.button {
  border-radius: 15px !important;
  padding: 10px 20px 10px 20px !important;
  width: 100% !important;
  font-family: "Poppins", sans-serif !important;
  font-size: 12px !important;
  font-width: '400';
  text-align: center;
  &.gray {
    background-color: #E3E3E3 !important;
    border: 1px #E3E3E3 !important;
    color: #6F6F6F !important;
  }
  &.blue {
    background-color: #284E95 !important;
    border: 1px #284E95 !important;
    color: white !important;
  }
}

.appointment-title {
  font-family: "Poppins", sans-serif !important;
  font-size: 15px !important;
  font-weight: 300;
  color: #332121;
}

.appointment-subtitle {
  font-family: "Poppins", sans-serif !important;
  font-size: 9px !important;
  font-weight: 400;
  color: #6F6F6F;
}

.booking {
  font-family: "Poppins", sans-serif !important;
  font-size: 15px !important;
  font-weight: 400;
  color: #332121;
}

.copyright {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #6A6868;
  text-align: center !important;
  font-size: 15px;
  font-weight: lighter;
  font-family: "Poppins", sans-serif;
}
.navbar {
  padding-top: 0.5rem;;
  padding-bottom: 0.5rem;;
  min-height: 53px;
  background-color: #ffffff;
  box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15);

  a {
    vertical-align: middle;
    color: #294E95;
    text-decoration: none;
  }

  &.navbar-sticky {
    position: sticky;
    top:0;
    width: 100%;
    padding:0;
    z-index: 1029;
  }
}
.navbar-wrapper {
  display: inline-flex;
  align-items: center;

  .navbar-minimize {
    margin-left: 24px;

    .btn {
      padding: 0;
      margin: 0;

      i {
        font-size: 20px;
      }
    }
  }
}
.image-cropper {
  max-width: 51px;
  //margin-top:5px;
  height: auto;
  position: relative;
  overflow: hidden;
}

.tsc-timeslot {
  border: 1px #294E95 !important;
  border-radius: 20px !important;
  background-color: #f2f1ef !important;
  color: #313232 !important;
}
.tsc-timeslot--selected {
  border: 1px #294E95 !important;
  border-radius: 20px !important;
  background-color: #294E95 !important;
  color: white !important;
}

.tsc-timeslot--disabled {
  border: 1px #E3E3E3 !important;
  border-radius: 20px !important;
  background-color: #E3E3E3 !important;
  color: #6F6F6F !important;
}

.tsc-day__title, .tsc-month__action {
  color: #294E95 !important;
}
